body {
  background-color: #f8f3f0;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.2;
  color: #222;
}

header {
  text-align: center;
  padding: 40px 20px;
  background-color: #fbf8f8;
  box-shadow: 0 2px 5px rgba(34, 33, 33, 0.1);
  border-radius: 5px;
}

h1 {
  font-size: 33px;
  font-family: 'Merriweather', serif;
  margin-bottom: 20px;
  margin-top: 0;
}

p {
  font-size: 16px;
  margin-bottom: 0;
  margin-top: 30px;
}

main {
  max-width: 900px;
  margin: 40px auto;
  padding: 20px auto;
  border-radius: 10px;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05); 
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

fieldset {
  border: 1px solid #e0e0e0;
  padding: 15px;
  border-radius: 10px;
}

legend {
  font-weight: bold;
  font-size: 16px;
  padding: 10px 5px;
  font-family: 'Merriweather', serif;
} 

label {
  display: block;
  margin: 10px 10px -10px;
}

#comments {
margin-bottom: -25px;
}

input, select, textarea {
  width: 94%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: 'Open Sans', sans-serif;
}

textarea {
  resize: vertical;
}

button[type="submit"] {
  background-color: rgb(76, 177, 97);
  color: #fff;
  border: none;
  padding: 20px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  width: 150px;
  align-self: center;
  margin-bottom: 10px;
}

button[type="submit"]:hover {
  background-color: #39704c;
}

